---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="About"
  seoTitle="About Sergio Souza, Software Developer"
  seoDesc={"Hello. My name is Sergio Souza. I'm an experienced software developer and always looking to learn new things."}
>
  <div class="w-6/12 mx-auto">
    <img src="/images/mug-11.jpg" alt="Sergio Souza" class="rounded-full w-32 h-32 mx-auto mt-4"  />
    <p class="mt-4">
      Hello, I'm Sergio. I'm an experienced software developer with passion for web development and open source software.
    </p>
    <p class="mt-4">
      I have a degree in Computer Science and I've been working with software and IT services for over 10 years. I've worked with a variety of technologies and programming languages, but I'm currently focused on JavaScript and its ecosystem.
    </p>
    <p class="mt-4">
      I'm always looking for new ways to improve my skills and I love to get in the proverbial rabbit hole of new technologies.
    </p>
    <p class="mt-4">
      If you want to know more about me or have any questions, please contact me at <a href="mailto:srg@codeserg.io" class="text-blue-800 hover:text-teal-500">srg@codeserg.io</a>
    </p>
  </div>
</MainLayout>
