---
import MainLayout from "../layouts/MainLayout.astro";
const name = "Astronaut";
---

<MainLayout
  title="Home - codeserg"
  seoTitle="codeserg - Software Engineer Portfolio"
  seoDesc="Software Engineer with expertise in React, Next.js and Fullstack Development"
>
  <p>Welcome to Astro, {name}!</p>
  <div class="w-8/12 md:w-6/12 mx-auto">
		<h1 class="text-4xl md:text-5xl text-center"> Hey :smile: I'm codeserg.</h1>
	</div>
</MainLayout>
