---
import MainLayout from "../layouts/MainLayout.astro";
const name = "Astronaut";
---

<MainLayout
  title="Home - codeserg"
  seoTitle="Sergio Souza, Software Engineer Portfolio"
  seoDesc="Software Engineer with expertise in React, Next.js and Fullstack Development"
>
  <p>Welcome to Astro, {name}!</p>
</MainLayout>
