---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Home - codeserg"
  seoTitle="codeserg - Software Engineer Portfolio"
  seoDesc="Software Engineer with expertise in React, Next.js and Fullstack Development"
>
  <div class="w-8/12 md:w-6/12 mx-auto my-5">
    <h1 class="text-2xl md:text-4xl text-center ">Hi 👋</h1>

    <div id="typed-strings">
      <p>I am a <strong>Full Stack Software Developer.</strong> </br> 
      I work with <strong>React, Next.js, Node.js, MongoDB, Express,</strong> and more...</p>
    </div>
    <div class="text-center mt-5">
      <span id="typed"></span>
    </div>
  </div>
</MainLayout>

<script>
  import Typed from "typed.js";
  var typed = new Typed("#typed", {
    stringsElement: "#typed-strings",
    typeSpeed: 40,
  });
</script>
