---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Home - codeserg"
  seoTitle="Software Developer Portfolio - built with Astro"
  seoDesc="Software Developer with expertise in React, Next.js and Fullstack Development"
>
  <div class="w-8/12 mx-auto">
    <h1 class="text-3xl md:text-4xl text-center font-bold">Hi 👋</h1>
    <p class="mt-10 md:mt-15 text-center">
      I am a <strong>Full Stack Software Developer.</strong>
    </p>
    <p class="mt-4 text-center">
      I work with <strong>React, Next.js, Node.js, MongoDB, Express,</strong>
    </p>
    <div id="typed-strings">
      <p>and more...</p>
    </div>
    <div class="text-center mt-5">
      <span id="typed"></span>
    </div>
  </div>
</MainLayout>

<script>
  import Typed from "typed.js";
  var typed = new Typed("#typed", {
    stringsElement: "#typed-strings",
    typeSpeed: 60,
  });
</script>
