---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Sample Projects"
  seoTitle="Projects with React, Next.js, Astro and more"
  seoDesc="A collection of projects built with the MERN stack, React, Next.js, Astro and more"
>
  <style>
    strong {
      color: rgb(5, 230, 230);
      font-size: 1.1rem;
    }
  </style>

  <div class="w-9/12 mx-auto my-5 space-y-5">
    <h1 class="text-3xl md:text-4xl text-center font-bold">Projects</h1>
    <p>
      Below are several applications I've built, all successfully used by retail
      chains across the US and Canada. These applications have played a pivotal
      role in assisting businesses with key performance indicators, enhancing
      employee engagement, and more.
    </p>
    <ul class="space-y-3">
      <li>
        <strong>Sales Dashboard</strong>: Provides Employee Ranking insights
      </li>
      <li>
        <strong>Goal Setting and Ranking Applications</strong>: Facilitates
        contests and goal tracking
      </li>
      <li>
        <strong>Survey, Quiz, and Scheduling Applications</strong>: Enhances
        employee engagement
      </li>
      <li>
        <strong>Admin Control Center</strong>: Centralize management of company
        applications
      </li>
    </ul>
    <p>
      The tech stack and tools include <strong
        >React.js, MongoDB, GitHub, Jira, Postman</strong
      >, and more.
    </p>
    <h1 class="text-3xl md:text-4xl text-center font-bold">...more recently</h1>
    <p>
      I have been working with <strong
        >Next.js, Astro, Tailwind, Sanity.io
      </strong> and others to build modern web applications.
    </p>
    <hr class="border-t border-gray-300 my-4" />
    <div class="flex flex-col gap-4 sm:w-10/12 mx-auto">
      <div class="border-2 border-gray-600 rounded shadow-lg">
        <img
          class="rounded w-full object-cover"
          src="images/mern-commerce.png"
          width="300px"
          height="300px"
          alt="MERN Commerce"
        />
        <div class="p-4">
          <h2 class="font-bold text-xl mb-2">MERN Commerce</h2>
          <p class="text-gray-400 text-base">
            An e-commerce application built with the MERN stack.
          </p>
          <a
            href="https://github.com/code-serg/ecommerce-01"
            class="text-custom-teal hover:underline"
            target="_blank"
            rel="noopener noreferrer">View on GitHub</a
          >
        </div>
      </div>

      <div class="border-2 border-gray-600 rounded shadow-lg">
        <img
          class="rounded w-full object-cover"
          src="images/showcase-next-sanity.png"
          width="300px"
          height="300px"
          alt="Next.js with Sanity"
        />
        <div class="p-4">
          <h2 class="font-bold text-xl mb-2">Next.js with Sanity.io</h2>
          <p class="text-gray-400 text-base">
            A Next.js application with a headless CMS.
          </p>
          <a
            href="https://github.com/code-serg/showcase-next-sanity"
            class="text-custom-teal hover:underline"
            target="_blank"
            rel="noopener noreferrer">View on GitHub</a
          >
        </div>
      </div>
    </div>
  </div>
</MainLayout>
