---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Sample Projects"
  seoTitle="Projects with React, Next.js, Astro and more"
  seoDesc="A collection of projects built with the MERN stack, React, Next.js, Astro and more"
>
  <div class="w-8/12 md:w-6/12 mx-auto">
    <h1 class="text-4xl md:text-5xl text-center">Sample Projects</h1>
    <div>
      <p>
        A collection of projects built with the MERN stack, React, Next.js,
        Astro and more.
      </p>
      <a>
        <img
          class="rounded"
          src="/public/images/mern-commerce-01.png"
          width="300px"
          height="300px"
          alt="MERN Commerce"
        />
      </a>
      <a>
        <img
          class="rounded"
          src="/public/images/showcase-next-sanity-01.png"
          width="300px"
          height="300px"
          alt="MERN Commerce"
        />
      </a>
    </div>
  </div>
</MainLayout>
