---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Sample Projects"
  seoTitle="Projects with React, Next.js, Astro and more"
  seoDesc="A collection of projects built with the MERN stack, React, Next.js, Astro and more"
>
  <style>
    strong { color: rgb(5, 230, 230); }
  </style>

  <div class="w-8/12 md:w-6/12 mx-auto my-5 space-y-5">
    <h1 class="text-2xl md:text-4xl text-center">Projects</h1>
    <p>
      I have built several applications that enhance key business performance indicators, such as sales tracking and employee engagement.
    </p>
      <ul class="list-disc space-y-3">
        <li><strong>Sales Dashboard</strong>: Provides Employee Ranking insights</li>
        <li><strong>Goal Setting and Ranking Applications</strong>: Facilitates contests and goal tracking</li>
        <li><strong>Survey, Quiz, and Scheduling Applications</strong>: Enhances employee engagement</li>
        <li><strong>Admin Control Center</strong>: Centralize management of company applications</li>
      </ul>
      <p>
        These applications were successfully <span class="underline">deployed in retail chains accross the United States and Canada.</span> </p>
      <p>
        The tech stack includes <strong>React.js, GitHub, Jira, MongoDB Compass, Postman, and more.</strong>
      </p>
    <h1 class="text-2xl md:text-4xl text-center">...more recently</h1>
    <p>
      I have been working with <strong>Next.js, Astro, Tailwind, Sanity.io </strong> and others to build modern web applications.
    </p>
    <div class="grid md:grid-cols-2 gap-2">
      <a href="/projects/mern-commerce">
        <img
          class="rounded"
          src="images/mern-commerce.png"
          width="300px"
          height="300px"
          alt="MERN Commerce"
        />
      </a>
      <a href="/projects/showcase-next-sanity">
        <img
          class="rounded"
          src="images/showcase-next-sanity.png"
          width="300px"
          height="300px"
          alt="Next.js with Sanity"
        />
      </a>
    </div>
  </div>
</MainLayout>