---

---

<footer class="text-center mt-auto mb-5 py-5">
  <small>
    codeserg &copy; <span id="copyright"></span>
  </small>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
