---
import MainHead from "./MainHead.astro";
const { title, seoTitle, seoDesc } = Astro.props;
---

<html>
  <MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc} />
  <body>
    <slot id="astro-test" />
  </body>
</html>
