---
import MainHead from "./MainHead.astro";
import Container from "../components/Container.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
const { title, seoTitle, seoDesc } = Astro.props;
---

<html>
  <MainHead title={title} seoTitle={seoTitle} seoDesc={seoDesc} />
  <body class="bg-slate-900 text-white gap-0">
    <Container>
      <Navbar />
      <div class="flex-grow">
        <slot />
      </div>
      <Footer />
    </Container>
    <style>
      body {
        font-family: "Inter", sans-serif;
      }
    </style>
  </body>
</html>
